{% extends "base.html" %}
{% block about %} class="active" {% endblock %}
{% block contents %}
{% load static %}
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">About Me</h2>
			</div>
		</div>
	</div>
</section>
<section id="content" style="background-color: #f5f5f5;">
	<section class="section-padding">
		<div class="container">
			<div class="row showcase-section">
				<div class="col-md-6" style="width: 430px;">
					<img src="{% static 'img/myface.jpg' %}" alt="showcase image">
				</div>
				<div class="col-md-6">
					<div class="about-text">
						<h3>Self <span class="color">Introduce</span></h3>
						<p>안녕하세요 Django로 세상이 필요하는 서비스를 만들고싶은 개발자</p>
						<p><h4>김은열 입니다</h4></p>
						<p>Django로 만든 첫 개인 프로젝트가 지금 보고계신 포트폴리오 입니다</p>		
						<p>간단히 제 이력을 보여주는것 뿐만아니라 습득한 기술을 모두 접목시켜</p>
						<p>사용자에게 Guest Book 서비스를 제공하는 사이트를 만들었습니다</p>
						<p>실제 서비스 한다는 마음으로 사용자들의 편리성을 고려하여</p>
						<p>회원관리, 블로그, 방명록의 기능을 구현하였으며 파이썬 anywhere를 통해 배포하였습니다</p>
						<p>(AWS 무료 크레딧을 다 사용하여 EC2로 배포를 중단하게 되었습니다)</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<div class="about">
			<div class="row">
				<div style="margin-bottom: 100px;">
					<div class="block-heading-two">
						<h3><span>QnA</span></h3>
					</div>
					<!-- Accordion starts -->
					<div class="panel-group" id="accordion-alt3">
						<!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
						<div class="panel">
							<!-- Panel heading -->
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
										<i class="fa fa-angle-right"></i> Q1 Django를 시작하게된 이유는?
									</a>
								</h4>
							</div>
							<div id="collapseOne-alt3" class="panel-collapse collapse">
								<!-- Panel body -->
								<div class="panel-body">
									파이썬에서 제공하는 표준 웹 라이브러리 보다 범용성 많고 쉽고 빠르게 웹 프로그래밍을 할수 있다는 것에 매력을 느껴 시작하게 되었습니다
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
										<i class="fa fa-angle-right"></i> Q2 가장 자신있는 업무 분야는?
									</a>
								</h4>
							</div>
							<div id="collapseTwo-alt3" class="panel-collapse collapse">
								<div class="panel-body">
									개발 전후 설계나 산출물에대한 문서화 작업에 가장 자신있습니다 !</br>
									많은 공모전 경험을 통해 문서화의 중요성을 느꼈습니다
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
										<i class="fa fa-angle-right"></i> Q3 개발할때 가장중요하게 생각하는것은?
									</a>
								</h4>
							</div>
							<div id="collapseThree-alt3" class="panel-collapse collapse">
								<div class="panel-body">
									클린코드를 작성하는것을 가장 중요시 합니다 !</br>
									PEP8이나 'Two scoop of django' 같이 정해진 규격이나 프레임워크의 방향성에 맞추어 개발해야만 
									원활한 유지보수가 가능하다고 느꼈습니다 
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFour-alt3">
										<i class="fa fa-angle-right"></i> Q4 협업 시 나만의 소통방법은? 
									</a>
								</h4>
							</div>
							<div id="collapseFour-alt3" class="panel-collapse collapse">
								<div class="panel-body">
									팀원간 자연스럽게 서로 (겸손한?) 지적을 할수있는 분위기를 만드는 것 입니다</br>
									감정적으로 '탓'을 하는 상황을 경계하기 위함입니다
								</div>
							</div>
						</div>

						<div class="panel">
							<!-- Panel heading -->
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFive-alt3">
										<i class="fa fa-angle-right"></i> Q5 프로젝트를 수행하면서 가장 힘들었던 점? 
									</a>
								</h4>
							</div>
							<div id="collapseFive-alt3" class="panel-collapse collapse">
								<!-- Panel body -->
								<div class="panel-body">
									마감시간을 지켜내는 부분이 가장 힘들었습니다</br>
									이번 포트폴리오를 제작하면서 완성과 디테일 사이에서 적절하게 타협해내는 것이 중요하다 느꼈습니다
								</div>
							</div>
						</div>
					</div>
					<!-- Accordion ends -->
				</div>
				<!-- 
				<div style="margin-bottom: 100px;">
					<div class="block-heading-two">
						<h3><span>Skills</span></h3>
						<h4 style="
    padding-top: 10px;
    margin-bottom: 10px;
"><span class="color">Front-End</span></h4>
					</div> -->
				<!-- Skills -->
				<section id="content">
					<div class="container content">
						<!-- Service Blcoks -->
						<div class="row">
							<div class="col-md-12">
								<div class="about-logo">
									<h3>Technical <span class="color">Skills</span></h3>
									<h4 style="padding-top: 10px;margin-bottom: 10px;"><span class="color"><span
												class="color">Front-End</span></h4>
									<p>디자인의 경우 주로 무료 템플릿 사이트와 픽셀 아트 사이트를 통해 제작합니다</p>
									<p>템플릿이 정해지면 base 템플릿을 작성하고 앱 URL에 맞게 템플릿 디렉토리를 구성합니다</p>
									<p>페이지 내 비지니스 로직을 작성하기위해 djaogn에서 제공하는 클래스 기반뷰를 활용하며</p>
									<p>클래스 기반뷰로 작성이 어렵거나 상당수 재정의가 필요한 경우 함수기반 뷰로 로직을 작성합니다</p>
									<p>프레임워크 외에 웹 페이지의 세부동작을 구현하기위해 jQeary라이브러리를 사용합니다</p>
								</div>
							</div>
						</div>
						<!-- Info Blcoks -->
						<div class="row">
							<div class="col-sm-4 info-blocks">
								<!-- <i class="icon-info-blocks fa fa-bell-o"></i> -->
								<i class="icon-info-blocks fa fa-html5"></i>
								<div class="info-blocks-in">
									<h3>HTML</h3>
									<p>DOM구조에대해 이해하고 있으며 필요에 따라 클래스를 구현해 사용합니다</p>
								</div>
							</div>
							<div class="col-sm-4 info-blocks">
								<i class="icon-info-blocks fa fa-css3"></i>
								<div class="info-blocks-in">
									<h3>CSS</h3>
									<p>대부분 오픈소스를 활용하지만 필요에따라 custom css 작성합니다</p>
								</div>
							</div>
							<div class="col-sm-4 info-blocks">
								<!-- <i class=""></i> -->
								<i class="icon-info-blocks fa fab fa-js"></i>
								<div class="info-blocks-in">
									<h3>JavaScript</h3>
									<p>비동기식으로 데이터를주고받을때 ajax를 활용하며 Form tag 동작을 위해 jQuery를 사용합니다</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="about-logo">
									<h4 style="padding-top: 10px;margin-bottom: 10px;"><span class="color"><span
												class="color">Back-End</span></h4>
									<p>PostGreSQL로 데이터베이스를 구성하여 프로젝트를 수행하며 배포로 EC2 및 PythonAnywhere를 주로 사용합니다</p>
									<p>웹 페이지내에서 사용자와 서버간의 데이터를 신속하게 주고받기위해 DRF를 활용하여 API를 구현합니다</p>
								</div>
							</div>
						</div>
						<!-- Info Blcoks -->
						<div class="row">
							<div class="col-sm-4 info-blocks">
								<i class="icon-info-blocks fa fab fa-python"></i>
								<div class="info-blocks-in">
									<h3>Python</h3>
									<p>텍스트 데이터 추출 및 정제를 위한 라이브러리(Numpy, Pandas) 사용경험이 있으며
										 코딩테스트 시 Python을 사용합니다</p>
								</div>
							</div>
							<div class="col-sm-4 info-blocks">
								<i class="icon-info-blocks fa fa-database"></i>
								<div class="info-blocks-in">
									<h3>Database</h3>
									<p>Mysql을 기본적으로 써왔고 DB에서 필요한 데이터를 추출하여 쿼리셋으로 만드는 프로시저를 작성 할수있습니다
										그리고 Django에서는 PostGreSQL의 호환성이 뛰어나기 때문에 프로젝트 시 PostGre로 DB를 구성합니다									</p>
								</div>
							</div>
							<div class="col-sm-4 info-blocks">
								<i class="icon-info-blocks fa fa-aws"></i>
								<div class="info-blocks-in">
									<h3>AWS</h3>
									<p>EC2를 사용해 웹페이지를 배포합니다</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="about-logo">
									<h4 style="padding-top: 10px;margin-bottom: 10px;"><span class="color"><span
												class="color">ETC</span></h4>
									<p>개발에 필요하거나 혹은 개인적인 필요로 사용하고있는 기술들입니다 
									</p>
								</div>
							</div>
						</div>
						<!-- Info Blcoks -->
						<div class="row">
							<div class="col-sm-4 info-blocks">
								<i class="icon-info-blocks fa fa-git-alt"></i>
								<div class="info-blocks-in">
									<h3>GitHub</h3>
									<p>기본적인 레포지토리 구성과 커밋 외에 브랜치 관리 또한 활용하고 있습니다</p>
								</div>
							</div>
							<div class="col-sm-4 info-blocks">
								<i class="icon-info-blocks fa fa-photo-video"></i>
								<div class="info-blocks-in">
									<h3>Adobe Premiere</h3>
									<p>포트폴리오 제작 과정을 유튜브로 만들기 위해 영상제작툴로 프리미어를 사용하고 있습니다</p>
								</div>
							</div>

						</div>
						<div>
						<!--
							<div class="block-heading-two">
								<h4 style="padding-top: 30px;margin-bottom: 30px;"><span class="color">
										Competency
										<span class="color"></span></h4>
							</div>
							<h6>Front-End</h6>
							<div class="progress pb-sm">
								
								<div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="40"
									aria-valuemin="0" aria-valuemax="100" style="width: 40%">
									<span class="sr-only">40% Complete (success)</span>
								</div>
							</div>
							<h6>Back-End</h6>
							<div class="progress pb-sm">
								<div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="60"
									aria-valuemin="0" aria-valuemax="100" style="width: 60%">
									<span class="sr-only">40% Complete (success)</span>
								</div>
							</div>
							<h6>Cooperation</h6>
							<div class="progress pb-sm">
								<div class="progress-bar progress-bar-lblue" role="progressbar" aria-valuenow="80"
									aria-valuemin="0" aria-valuemax="100" style="width: 80%">
									<span class="sr-only">40% Complete (success)</span>
								</div>
							</div>
							<h6>New technology</h6>
							<div class="progress pb-sm">
								<div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuenow="30"
									aria-valuemin="0" aria-valuemax="100" style="width: 30%">
									<span class="sr-only">40% Complete (success)</span>
								</div>
							</div>
						-->
						</div>
					</div>
					<!-- End Info Blcoks -->
					<!-- Info Blcoks -->
					<!-- Vision -->
					<div style="margin-top: 150px;">
						<div class="block-heading-two">
							<h3>My <span class="color">Vision</span></h3>
						</div>
					</div>
					<img src="{% static 'img/vision-2.png' %}" style="display: block; margin: 0px auto;" alt="" />
					<div>
						<div class="testimonials">
							<div class="active item">
								<blockquote style="margin-bottom:80px; text-align:center; margin-left: 200px;margin-right: 200px;">
									<p></p>
									<p>상상하는 모든 것을 웹으로 구현하고자 합니다</p>
									<p>당장의 실패에 좌절하지 않고 실패도 하나의 케이스로 극복해내는 개발자가 되고자 합니다</p>
									<p>기능도 중요하지만 사용자의 용이성과 편리함을 중점으로 상업성의 방향을 찾고자 합니다</p>
									<p></p>
								</blockquote>

								<div class="block-heading-two">
									<h3><span>Mentor & RoleModel</span></h3>
								</div>

								<div class="carousel-info">
									<div class="row">
										<img alt="" src="img/team4.jpg" class="pull-left" style="margin-left: 20px;">
										<div class="pull-left" style="margin-right: 100px;">
											<span class="testimonials-name">박유현 기술사(PWC)</span>
											<span class="testimonials-post">한이음 프로젝트를 진행하면서 프로젝트 컨설팅에 대해 배울수 있었습니다</span>
										</div>
										<!-- <img alt="" src="img/team4.jpg" class="pull-left" style="margin-left: 20px;">
										<div class="pull-left" style="margin-right: 100px;">
											<span class="testimonials-name">박은정 교수(UST)</span>
											<span class="testimonials-post">인공지능 분야에 모습에 도전정신을 본받았습니다</span>
										</div> -->
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</section>
</body>

</html>
{% endblock %}