{% extends "base.html" %}
{% block project %} class="active" {% endblock %}
{% block contents %}
{% load static %}
<section id="inner-headline">
	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">PROJECT</h2>
			</div>
		</div>
	</div>
</section>
<section id="content" style="background-color: #f5f5f5;">
	<section id="pricing">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="about-logo">
						<h3>Awarded  <span class="color"> Project</span></h3>
						<p>열심히해서 수상한 프로젝트 입니다</p>
					</div>
				</div>
			</div>
			<div class="row" >
				<div class="col-md-4 menuItem">
					<ul class="menu">
						<li>
							블록체인 기반 설문조사 플랫폼
						</li>
						<li>
							<div class="detail"><span class="price" style="float: left;">대회명 &nbsp;</span>한이음 공모전</div>
						</li>
						<li>
							<div class="detail"><span class="price" style="float: left;">주최 &nbsp;</span>한국정보산업연합회</div>
						</li>
						<li>
							<div class="detail"><span class="price" style="float: left;">구성원 &nbsp;</span>멘토 1명, 팀장 1명, 팀원 4명</div>
						</li>
						<li>
							<div class="detail"><span class="price" style="float: left;">기간 &nbsp;</span>2018-03 ~ 2018-12</div>
						</li>
						<li>
							<div class="detail"><span class="price" style="float: left;">역할 &nbsp;</span><br>이더리움 개발환경 구성 및 코어 서버 커스터마이징
								<br>스마트 컨트랙트로 이더리움 코어에 저장된 블록을 웹으로 가져오는 동작 담당</div>
						</li>
						<li>
							<div class="detail"><span class="price" style="float: left;">성과 &nbsp;</span><br>오프라인 설문조사 방식에서 탈피하여 탈중앙화 형식의 온라인 설문조사 플랫폼을 구현</div>
						</li>
						<li>
							<div class="detail"><span class="price" style="float: left;">수상 &nbsp;</span>2018 한이음 학술대회 최우수상</div>
						</li>
						<li>
							<span class="price"><a href="https://github.com/KimEunYeol/Survey-Platform-Dapp" class="btn btn-primary waves-effect waves-dark">Repository..</a></span></li>
						<li></li>
					</ul>
				</div>
				<div class="col-md-4 menuItem">
					<ul class="menu">
						<li>
							Wearless Hand Remot Controller
						</li>
						<li>
							<div class="detail"><span class="price" style="float: left;">요약 &nbsp;</span>영상인식을 기반으로 전방의 사물을 손동작으로 조작하는 무선 리모트 컨트롤러 구현</div>
						</li>
						<li>
							<div class="detail"><span class="price" style="float: left;">대회명 &nbsp;</span>글로벌SW공모대전</div>
						</li>
						<li>
							<div class="detail"><span class="price" style="float: left;">주최 &nbsp;</span>과학기술정보통신부</div>
						</li>
						<li>
							<div class="detail"><span class="price" style="float: left;">구성원 &nbsp;</span>지도교수 1명, 팀장 1명, 팀원 3명</div>
						</li>
						<li>
							<div class="detail"><span class="price" style="float: left;">기간 &nbsp;</span>2018-04 ~ 2018-11</div>
						</li>
						<li>
							<div class="detail"><span class="price" style="float: left;">역할 &nbsp;</span><br>OpenCV를 활용해 ObjectDetection으로 발생한 데이터와 리얼센스로 인식되는 사용자의 제스쳐 데이터를 C++ IPC통신으로 제어
								<br>OpenCV GUI 구현을 위해 Qt4 분석 및 시스템 내 적용 업무</div>
						</li>
						<li>
							<div class="detail"><span class="price" style="float: left;">성과 &nbsp;</span><br>신체에 접촉하는 다른 장치의 착용 없이 손동작만으로 멀리 있는 IoT 디바이스들을 제어하는 시스템을 구현</div>
						</li>
						<li>
							<div class="detail"><span class="price" style="float: left;">수상 &nbsp;</span><br>제30회 글로벌SW공모대전에서 장려상<br>정보처리학회 추계학술대회 동상</div>
						</li>
						<li>
							<span class="price"><a href="https://github.com/KimEunYeol/Wearless-Hand-Remote-Controller" class="btn btn-primary waves-effect waves-dark">Repository..</a></span></li>
						<li></li>
					</ul>
				</div>
			</div>
		</div>
		<section id="pricing">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="about-logo">
							<h3>ETC<span class="color"> Project</span></h3>
							<p>아쉽게 수상은 못했지만 많은걸 배울수 있었던 프로젝트 입니다</p>
						</div>
					</div>
				</div>
				<div class="row" >
					<div class="col-md-4 menuItem">
						<ul class="menu">
							<li>
								자연어처리를 활용한 댓글 감성 분석
							</li>
							<li>
								<div class="detail"><span class="price" style="float: left;">활동명 &nbsp;</span>빅데이터 청년인재 양성 교육(데이터 청년 캠퍼스)</div>
							</li>
							<li>
								<div class="detail"><span class="price" style="float: left;">주최 &nbsp;</span>한국데이터산업진흥원</div>
							</li>
							<li>
								<div class="detail"><span class="price" style="float: left;">구성원 &nbsp;</span>지도교수 1명, 팀장 1명, 팀원 4명</div>
							</li>
							<li>
								<div class="detail"><span class="price" style="float: left;">기간 &nbsp;</span>2019-06 ~ 2019-9</div>
							</li>
							<li>
								<div class="detail"><span class="price" style="float: left;">역할 &nbsp;</span><br>크롤링한 비정형 댓글 데이터를 Numpy와 Pandas를 활용해 정제 업무 담당
									<br>도출된 데이터를 파이썬 웹 라이브러리를 활용해 인사이트 생성 및 웹사이트 구축
									</div>
							</li>
							<li>
								<div class="detail"><span class="price" style="float: left;">성과 &nbsp;</span><br>자연어처리와 비정형 데이터 수집 및 정제에 대해 학습할수 있었다</div>
							</li>
							<li></li>
						</ul>
					</div>
					<div class="col-md-4 menuItem">
						<ul class="menu">
							<li>
								빅데이터를 기반 스마트공장 솔루션 MES 구축
							</li>
							<li>
								<div class="detail"><span class="price" style="float: left;">활동명 &nbsp;</span>ICT 프로젝트 인턴쉽</div>
							</li>
							<li>
								<div class="detail"><span class="price" style="float: left;">주최 &nbsp;</span>한국정보산업연합회</div>
							</li>
							<li>
								<div class="detail"><span class="price" style="float: left;">기간 &nbsp;</span>2019-03 ~ 2019-06</div>
							</li>
							<li>
								<div class="detail"><span class="price" style="float: left;">역할 &nbsp;</span><br>Maria DB로 프로시저 작성
									<br>C# DevExpress .Net 프레임워크를 사용하여 MES/ERP솔루션 UI 폼 구현
								</div>
							</li>
							<li>
								<div class="detail"><span class="price" style="float: left;">성과 &nbsp;</span><br>MES 및 ERP 솔루션 실무에대한 이해와 사업진행 전반에 대한 흐름 파악</div>
							</li>
							<li></li>
						</ul>
					</div>
					<div class="col-md-4 menuItem">
						<ul class="menu">
							<li>
								공공데이터를 활용한 안드로이드 앱 제작
							</li>
							<li>
								<div class="detail"><span class="price" style="float: left;">활동명 &nbsp;</span>공공데이터 활용 실습교육(RTS)</div>
							</li>
							<li>
								<div class="detail"><span class="price" style="float: left;">주최 &nbsp;</span>한국정보산업연합회</div>
							</li>
							<li>
								<div class="detail"><span class="price" style="float: left;">기간 &nbsp;</span>2018-08</div>
							</li>
							<li>
								<div class="detail"><span class="price" style="float: left;">역할 &nbsp;</span><br>공공 데이터 기반 앱 개발 
									<br>쿸스타그램(지역특색음식 소개 및 추천앱), 주차가필요해(공영주차장 위치 및 현재 주차공간 여석 확인 앱)
								</div>
							</li>
							<li>
								<div class="detail"><span class="price" style="float: left;">성과 &nbsp;</span><br>공공 데이터를 대상으로 데이터의 수집, 시각화, 분석 및 앱 개발까지의 과정을 실습</div>
							</li>
							<li></li>
						</ul>
					</div>
				</div>
			</div>
	</section>
</section>
{% endblock %}