{% extends "base.html" %}
{% block contents %}
{% load static %}
<section id="inner-headline">
	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">PROJECT</h2>
			</div>
		</div>
	</div>
</section>
<section id="content" style="background-color: #f5f5f5;">
	<section id="pricing">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="about-logo">
						<h3>Awarded  <span class="color"> Project</span></h3>
						<p>열심히해서 상받은 프로젝트 들이에오</p>
					</div>
				</div>
			</div>
			<div class="row" >
				<div class="col-md-4 menuItem">
					<ul class="menu">
						<li>
							블록체인 기반 설문조사 플랫폼
						</li>
						<li>
							<div class="detail">ipsum dolor sit amet, consectetur<span class="price">$14.49</span></div>
						</li>
						<li>
							<div class="detail">ipsum dolor sit amet dskfj consectetur<span class="price">$20.50</span>
							</div>
						</li>
						<li>
							<div class="detail">Semper aliquam quis mattis quam<span class="price">$9.99</span></div>
						</li>
						<li>
							<div class="detail">ipsum dolor sit amet dskfj consectetur<span class="price">$17.99</span>
							</div>
						</li>
						<li>
							<div class="detail">ipsum dolor sit amet, consectetur<span class="price">$7.99</span></div>
						</li>
						<li>
							<div class="detail">ipsum dolor sit amet, consectetur<span class="price">$14.49</span></div>
						</li>
						<li>
							<a href="#" class="btn btn-primary waves-effect waves-dark">Repository..</a></li>
						<li></li>
					</ul>
				</div>
				<div class="col-md-4 menuItem">
					<ul class="menu">
						<li>
							Hand-Motion 리모컨
						</li>
						<li>
							<div class="detail">ipsum dolor sit amet, consectetur<span class="price">$14.49</span></div>
						</li>
						<li>
							<div class="detail">ipsum dolor sit amet dskfj consectetur<span class="price">$20.50</span>
							</div>
						</li>
						<li>
							<div class="detail">Semper aliquam quis mattis quam<span class="price">$9.99</span></div>
						</li>
						<li>
							<div class="detail">ipsum dolor sit amet dskfj consectetur<span class="price">$17.99</span>
							</div>
						</li>
						<li>
							<div class="detail">ipsum dolor sit amet, consectetur<span class="price">$7.99</span></div>
						</li>
						<li>
							<div class="detail">ipsum dolor sit amet, consectetur<span class="price">$14.49</span></div>
						</li>
						<li>
							<a href="#" class="btn btn-primary waves-effect waves-dark">Repository..</a></li>
						<li></li>
					</ul>
				</div>
			</div>
		</div>
		<section id="pricing">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="about-logo">
							<h3>ETC<span class="color"> Project</span></h3>
							<p>대충해서 아무것도 못건진 프로젝트에오</p>
						</div>
					</div>
				</div>
				<div class="row" >
					<div class="col-md-4 menuItem">
						<ul class="menu">
							<li>
								머신러닝 활용 댓글 감성분석
							</li>
							<li>
								<div class="detail">ipsum dolor sit amet, consectetur<span class="price">$14.49</span></div>
							</li>
							<li>
								<div class="detail">ipsum dolor sit amet dskfj consectetur<span class="price">$20.50</span>
								</div>
							</li>
							<li>
								<div class="detail">Semper aliquam quis mattis quam<span class="price">$9.99</span></div>
							</li>
							<li>
								<div class="detail">ipsum dolor sit amet dskfj consectetur<span class="price">$17.99</span>
								</div>
							</li>
							<li>
								<div class="detail">ipsum dolor sit amet, consectetur<span class="price">$7.99</span></div>
							</li>
							<li>
								<div class="detail">ipsum dolor sit amet, consectetur<span class="price">$14.49</span></div>
							</li>
							<li></li>
						</ul>
					</div>
					<div class="col-md-4 menuItem">
						<ul class="menu">
							<li>
								빅데이터를 활용한 MES 고도화
							</li>
							<li>
								<div class="detail">ipsum dolor sit amet, consectetur<span class="price">$14.49</span></div>
							</li>
							<li>
								<div class="detail">ipsum dolor sit amet dskfj consectetur<span class="price">$20.50</span>
								</div>
							</li>
							<li>
								<div class="detail">Semper aliquam quis mattis quam<span class="price">$9.99</span></div>
							</li>
							<li>
								<div class="detail">ipsum dolor sit amet dskfj consectetur<span class="price">$17.99</span>
								</div>
							</li>
							<li>
								<div class="detail">ipsum dolor sit amet, consectetur<span class="price">$7.99</span></div>
							</li>
							<li>
								<div class="detail">ipsum dolor sit amet, consectetur<span class="price">$14.49</span></div>
							</li>
							<li></li>
						</ul>
					</div>
					<div class="col-md-4 menuItem">
						<ul class="menu">
							<li>
								공공데이터 기반 App
							</li>
							<li>
								<div class="detail">ipsum dolor sit amet, consectetur<span class="price">$14.49</span></div>
							</li>
							<li>
								<div class="detail">ipsum dolor sit amet dskfj consectetur<span class="price">$20.50</span>
								</div>
							</li>
							<li>
								<div class="detail">Semper aliquam quis mattis quam<span class="price">$9.99</span></div>
							</li>
							<li>
								<div class="detail">ipsum dolor sit amet dskfj consectetur<span class="price">$17.99</span>
								</div>
							</li>
							<li>
								<div class="detail">ipsum dolor sit amet, consectetur<span class="price">$7.99</span></div>
							</li>
							<li>
								<div class="detail">ipsum dolor sit amet, consectetur<span class="price">$14.49</span></div>
							</li>
							<li></li>
						</ul>
					</div>
				</div>
			</div>
	</section>
</section>
{% endblock %}