{% extends "base_simple.html" %}
{% load static %}
{% block contents %}
<div class="container">
    <div class="row">
        <img class="img-user" src="{% static 'img/login.png' %}" alt="">
        <div class="col-md-12">
            <div class="about-logo">
                <h3>계정이 아직없으시다면 <span class="color">회원가입</span>을 먼저 진행해주세요</h3>
                <!-- <p>계정이 아직없으시다면 회원가입을 먼저 진행해주세요</p> -->
            </div>
        </div>
    </div>
    {% if form.errors %}
    <script>alert("ID와 비밀번호를 올바르게 입력해 주시기 바랍니다.");</script>
    {% endif %}
    <form id="login_form" action="." method="POST">{% csrf_token %}
        <div class="row">
            <div class="col-3">ID</div>
            <div class="ml-1 col-8"><input type="text" name="username" id="username" size="12" /></div>
        </div>
        <div class="row">
            <div class="col-3">PASSWORD</div>
            <div class="ml-1 col-8"><input type="password" name="password" id="password" size="12" /></div>
        </div>
        <div class="row">
            <div class="col-12 center" style="margin-bottom: 30px;" value="Login">
                <input type="button" class="btn btn-primary waves-effect waves-dark" value="로그인" onClick="login()" />
                <input type="button" class="btn btn-primary waves-effect waves-dark" value="회원가입"
                    onClick="location.href='{% url 'signup' %}'" />
            </div>
        </div>
    </form>
</div>
{% block extra-scripts %}
<script src="{% static 'js/user.js' %}"></script>
{% endblock %}
{% endblock %}