{% extends "base.html" %}
{% block content %}
<section id="inner-headline">
	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Projects</h2>
			</div>
		</div>
	</div>
</section>
<section id="content" style="background-color: #f5f5f5;">
	<section id="pricing">
		<div class="container" >
			<div class="row">
				<div class="col-md-12">
					<div class="about-logo">
						<h3>Our Price<span class="color">List</span></h3>
						<p>Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque
							laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
							architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas</p>
						<p>Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque
							laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
							architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 menuItem">
					<ul class="menu">
						<li>
							Ddsaw
						</li>
						<li>
							<div class="detail">ipsum dolor sit amet, consectetur<span class="price">$14.49</span></div>
						</li>
						<li>
							<div class="detail">ipsum dolor sit amet dskfj consectetur<span class="price">$20.50</span>
							</div>
						</li>
						<li>
							<div class="detail">Semper aliquam quis mattis quam<span class="price">$9.99</span></div>
						</li>
						<li>
							<div class="detail">ipsum dolor sit amet dskfj consectetur<span class="price">$17.99</span>
							</div>
						</li>
						<li>
							<div class="detail">ipsum dolor sit amet, consectetur<span class="price">$7.99</span></div>
						</li>
						<li>
							<div class="detail">ipsum dolor sit amet, consectetur<span class="price">$14.49</span></div>
						</li>
						<li>
							<a href="#" class="btn btn-primary waves-effect waves-dark">Learn More</a></li>
						<li></li>
					</ul>
				</div>
				<div class="col-md-4 menuItem">
					<ul class="menu">
						<li>
							Ddsaw
						</li>
						<li>
							<div class="detail">ipsum dolor sit amet, consectetur<span class="price">$14.49</span></div>
						</li>
						<li>
							<div class="detail">ipsum dolor sit amet dskfj consectetur<span class="price">$20.50</span>
							</div>
						</li>
						<li>
							<div class="detail">Semper aliquam quis mattis quam<span class="price">$9.99</span></div>
						</li>
						<li>
							<div class="detail">ipsum dolor sit amet dskfj consectetur<span class="price">$17.99</span>
							</div>
						</li>
						<li>
							<div class="detail">ipsum dolor sit amet, consectetur<span class="price">$7.99</span></div>
						</li>
						<li>
							<div class="detail">ipsum dolor sit amet, consectetur<span class="price">$14.49</span></div>
						</li>
						<li>
							<a href="#" class="btn btn-primary waves-effect waves-dark">Learn More</a></li>
						<li></li>
					</ul>
				</div>
				<div class="col-md-4 menuItem">
					<ul class="menu">
						<li>
							Ddsaw
						</li>
						<li>
							<div class="detail">ipsum dolor sit amet, consectetur<span class="price">$14.49</span></div>
						</li>
						<li>
							<div class="detail">ipsum dolor sit amet dskfj consectetur<span class="price">$20.50</span>
							</div>
						</li>
						<li>
							<div class="detail">Semper aliquam quis mattis quam<span class="price">$9.99</span></div>
						</li>
						<li>
							<div class="detail">ipsum dolor sit amet dskfj consectetur<span class="price">$17.99</span>
							</div>
						</li>
						<li>
							<div class="detail">ipsum dolor sit amet, consectetur<span class="price">$7.99</span></div>
						</li>
						<li>
							<div class="detail">ipsum dolor sit amet, consectetur<span class="price">$14.49</span></div>
						</li>
						<li>
							<a href="#" class="btn btn-primary waves-effect waves-dark">Learn More</a></li>
						<li></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</section>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="widget">
					<h5 class="widgetheading">Our Contact</h5>
					<address>
						<strong>Bootstrap company Inc</strong><br>
						JC Main Road, Near Silnile tower<br>
						Pin-21542 NewYork US.</address>
					<p>
						<i class="icon-phone"></i> (123) 456-789 - 1255-12584 <br>
						<i class="icon-envelope-alt"></i> email@domainname.com
					</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="widget">
					<h5 class="widgetheading">Quick Links</h5>
					<ul class="link-list">
						<li><a class="waves-effect waves-dark" href="#">Latest Events</a></li>
						<li><a class="waves-effect waves-dark" href="#">Terms and conditions</a></li>
						<li><a class="waves-effect waves-dark" href="#">Privacy policy</a></li>
						<li><a class="waves-effect waves-dark" href="#">Career</a></li>
						<li><a class="waves-effect waves-dark" href="#">Contact us</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="widget">
					<h5 class="widgetheading">Latest posts</h5>
					<ul class="link-list">
						<li><a class="waves-effect waves-dark" href="#">Lorem ipsum dolor sit amet, consectetur
								adipiscing elit.</a></li>
						<li><a class="waves-effect waves-dark" href="#">Pellentesque et pulvinar enim. Quisque at tempor
								ligula</a></li>
						<li><a class="waves-effect waves-dark" href="#">Natus error sit voluptatem accusantium
								doloremque</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="widget">
					<h5 class="widgetheading">Recent News</h5>
					<ul class="link-list">
						<li><a class="waves-effect waves-dark" href="#">Lorem ipsum dolor sit amet, consectetur
								adipiscing elit.</a></li>
						<li><a class="waves-effect waves-dark" href="#">Pellentesque et pulvinar enim. Quisque at tempor
								ligula</a></li>
						<li><a class="waves-effect waves-dark" href="#">Natus error sit voluptatem accusantium
								doloremque</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}